
<svg ng-attr-height="{{clockFrame.height}}" ng-attr-width="{{clockFrame.width}}" id="clockContainer">

  <circle data-ng-attr-r="{{clockFrame.radius}}"
          data-ng-attr-stroke="{{clockFrame.stroke}}"
          data-ng-attr-stroke-width="{{clockFrame.strokeWidth}}"
          data-ng-attr-cx="{{clockFrame.cx}}"
          data-ng-attr-cy="{{clockFrame.cy}}"
          data-ng-attr-fill="{{clockFrame.fill}}">
  </circle>
  <rect x="19.2" y="11" width="2" height="9" fill="#666"  id="hour" data-ng-attr-transform="{{hourTransform}}"></rect>
  <rect x="19.2" y="8" width="1" height="12" fill="#c00"  id="minute" data-ng-attr-transform="{{minuteTransform}}"></rect>
</svg>

