<div data-ng-controller="FavoriteController as vm" data-ng-init="vm.init()">
  <ion-header-bar class="bar-dark">
    <h1 class="title">Melbourne Train Schedule</h1>
  </ion-header-bar>
  <ion-content class="has-header">

    <div class="bar bar-assertive" data-ng-show="vm.favorites.length == 0">
      <h2 class="title">No favorites added.</h2>
    </div>

   <div class="list" data-ng-if="vm.favoritesTowardsCity.length > 0">
     <div class="item item-divider item-positive">Towards city</div>
      <div data-ng-repeat="favorite in vm.favoritesTowardsCity" class="item item-icon-right" data-ng-click="vm.showSchedule(favorite)">
        {{ favorite.station }} ({{favorite.line}})
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
   </div>

    <div class="list" data-ng-if="vm.favoritesAwayFromCity.length > 0">
      <div class="item item-divider item-positive">Away from city</div>
      <div data-ng-repeat="favorite in vm.favoritesAwayFromCity" class="item item-icon-right" data-ng-click="vm.showSchedule(favorite)">
        {{ favorite.station }} ({{favorite.line}})
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

  </ion-content>

  <div class="tabs-striped">
    <div class="tabs">
      <a class="tab-item"  data-ng-click="vm.goHome()">
        <i class="icon ion-home"></i>
        Home
      </a>
      <a class="tab-item active">
        <i class="icon ion-star"></i>
        Favorites
      </a>
    </div>
  </div>
</div>
