<div data-ng-controller="NetworkController as vm">
  <ion-header-bar class="bar-dark">
    <h1 class="title">Melbourne Train Schedule</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="item item-toggle">
     {{ vm.directionText }}
     <label class="toggle toggle-positive">
       <input type="checkbox" data-ng-model="vm.direction" data-ng-change="vm.changeDirectionText()"  />
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </div>
    <div>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" data-ng-model="vm.searchText">
      </label>
    </div>
    <div class="list">
      <div data-ng-repeat="(line, stations) in vm.network | filterLine:vm.searchText">
        <div class="item item-divider item-positive">{{line}}</div>
        <div class="item item-icon-right" data-ng-click="vm.selectStation(line, station)" data-ng-repeat="station in stations | filter:vm.searchText">
          {{station}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="tabs-striped">
    <div class="tabs">
      <a class="tab-item active">
        <i class="icon ion-home"></i>
        Home
      </a>
      <a class="tab-item" data-ng-click="vm.goFavorite()">
        <i class="icon ion-star"></i>
        Favorites
      </a>
    </div>
  </div>
</div>
