<div data-ng-controller="ScheduleController as vm" data-ng-init="vm.init()">
  <ion-header-bar class="bar-dark">
    <button class="button button-clear" data-ng-click="vm.goBack()">Back</button>
    <h1 class="title">{{vm.station}} ({{vm.line}})</h1>
    <!--<button class="button button-clear ion-refresh" data-ng-click="vm.updateScheduleData()"></button>-->
    <button class="button button-clear icon ion-star" data-ng-class="vm.isFavorite ? 'button-energized': ''" data-ng-click="vm.toggleFavorite()"></button>
  </ion-header-bar>
  <ion-content class="has-header">

    <ion-refresher
      data-on-refresh="vm.updateScheduleData()"
      data-pulling-text="pull to refresh">
    </ion-refresher>

    <div class="item item-toggle">
      {{ vm.directionText }}
      <label class="toggle toggle-positive">
        <input type="checkbox" data-ng-model="vm.direction" data-ng-change="vm.changeDirection()"  />
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>

    <div class="bar bar-assertive" data-ng-hide="vm.errorMessage == ''">
      <h2 class="title">{{ vm.errorMessage }}</h2>
    </div>

    <div class="bar bar-energized" data-ng-show="vm.fetchingData">
      <h2 class="title">loading...</h2>
    </div>
    <div class="list card" data-ng-hide="vm.fetchingData">
      <div class="item item-icon-left" data-ng-repeat="departure in vm.departures">
        <i class="icon" data-zen-clock="" data-time="{{departure.time}}"></i>
        in <strong>{{departure.hour | formatTime }}</strong> at <strong>{{departure.time}}</strong>
      </div>
    </div>
  </ion-content>


</div>



